.form
  = form_for [@group,@message] do |f|
    .form__box
      = f.text_field :content , placeholder: "type a message" , class: "form__box--input"
      %label.far.fa-image{for: "message_image"}
        = f.file_field :image, class: "far fa-image"
      = f.submit type: "submit", value: "Send" , class: "form__box--submit-btn"
