%div.message__box
  %p.message__box--user-name
    高見竜二
    %span.message__box--date ●月●日
  %p.message__box--message この投稿テスト投稿です。
%div.message__box
  %p.message__box--user-name
    高見竜二
    %span.message__box--date ●月●日
  %p.message__box--message この投稿テスト投稿です。
%div.message__box
  %p.message__box--user-name
    高見竜二
    %span.message__box--date ●月●日
  %p.message__box--message この投稿テスト投稿です。
%div.message__box
  %p.message__box--user-name
    高見竜二
    %span.message__box--date ●月●日
  %p.message__box--message この投稿テスト投稿です。
%div.message__box
  %p.message__box--user-name
    高見竜二
    %span.message__box--date ●月●日
  %p.message__box--message この投稿テスト投稿です。
%div.message__box
  %p.message__box--user-name
    高見竜二
    %span.message__box--date ●月●日
  %p.message__box--message この投稿テスト投稿です。
%div.message__box
  %p.message__box--user-name
    高見竜二
    %span.message__box--date ●月●日
  %p.message__box--message この投稿テスト投稿です。
%div.message__box
  %p.message__box--user-name
    高見竜二
    %span.message__box--date ●月●日
  %p.message__box--message この投稿テスト投稿です。
%div.message__box
  %p.message__box--user-name
    高見竜二
    %span.message__box--date ●月●日
  %p.message__box--message この投稿テスト投稿です。
