.message__box{"data-id": message.id}
  .message__box--user-name
    = message.user.name
    %span.message__box--user-name-date
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  .message__box--message
    - if message.content.present?
      .message__box--message-content
        = message.content
    - if message.image.present?
      = image_tag message.image.url, class: "message__box--message-image"
