.group__box
  %p.group__box--name グループ１
  %p.group__box--message 今日は楽しかった
.group__box
  %p.group__box--name グループ２
  %p.group__box--message 今日は楽しかった
.group__box
  %p.group__box--name グループ３
  %p.group__box--message 今日は楽しかった
.group__box
  %p.group__box--name グループ４
  %p.group__box--message 今日は楽しかった
.group__box
  %p.group__box--name グループ５
  %p.group__box--message 今日は楽しかった
.group__box
  %p.group__box--name グループ６
  %p.group__box--message 今日は楽しかった
.group__box
  %p.group__box--name グループ７
  %p.group__box--message 今日は楽しかった
.group__box
  %p.group__box--name グループ８
  %p.group__box--message 今日は楽しかった
.group__box
  %p.group__box--name グループ９
  %p.group__box--message 今日は楽しかった
.group__box
  %p.group__box--name グループ１０
  %p.group__box--message 今日は楽しかった
.group__box
  %p.group__box--name グループ１１
  %p.group__box--message 今日は楽しかった
.group__box
  %p.group__box--name グループ１２
  %p.group__box--message 今日は楽しかった
.group__box
  %p.group__box--name グループ１３
  %p.group__box--message 今日は楽しかった
.group__box
  %p.group__box--name グループ１４
  %p.group__box--message 今日は楽しかった
.group__box
  %p.group__box--name グループ１５
  %p.group__box--message 今日は楽しかった
.group__box
  %p.group__box--name グループ１６
  %p.group__box--message 今日は楽しかった
