- if user_signed_in?
  .main-header
    .main-header__group
      %p.main-header__group--title テストグループ
      %p.main-header__group--member-list
        Member：
        %span 高見竜二高見竜二高見竜二高見竜二高見竜二高見竜二高見竜二高見竜二高見竜二高見竜二高見竜二高見竜二高見竜二高見竜二高見竜二高見竜二高見竜二高見竜二高見竜二高見竜二高見竜二高見竜二高見竜二高見竜二高見竜二高見竜二高見竜二高見竜二高見竜二高見竜二高見竜二高見竜二高見竜二高見竜二高見竜二高見竜二高見竜二高見竜二高見竜二高見竜二高見竜二高見竜二
    .main-header__group--edit
      %a.main-header__group--edit-btn{href: "#"} Edit
