#top{

  .chat-side{
    width:        300px;
    height:       100vh;
    background:   $side-color;
    float:        left;

    .side-header{
      height:         100px;
      background:     $user_box-color;
      color:          $side_font-color;
      font-weight:    700;
      padding-left:   20px;
      padding-right:  20px;

      &__box{
        display:          flex;
        justify-content:  space-between;


        &--user-name {
          line-height:    100px;
        }

        &--icon{
            line-height:    100px;
            text-align:     right;

        a.fas{
          color:            white;
          display:          inline;
          text-decoration:  none;
          }
        }
      }
    }

    .groups{
      height:             calc(100vh - 120px);
      padding:            20px 20px 0;
      overflow:           scroll;

      .group__box{
        background-color:   $side-color;
        color:              $side_font-color;
        margin-bottom:      40px;

        &--name{
          font-size:      15px;
          margin-bottom:  5px;
        }

        &--message{
          font-size:      11px;
        }
      }
    }
  }

  .chat-main{
    height:         100vh;
    width:          calc(100vw - 300px);
    background:     $main_back-color;
    float:          left;

    .main-header{
      height:         100px;
      background:     white;
      border-bottom:  solid $border-color 0.1px;
      padding-left:   40px;
      padding-right:    40px;
      display: flex;
      justify-content:  space-between;

      &__group{
        height:         100px;
        width:          calc(100vw - 500px);
        display:        block;
        overflow:       scroll;
        float:          left;

        &--title{
          color:          $title_font-color;
          font-size:      20px;
          margin-top:     35px;
          margin-bottom:  15px;
          display:        block;
        }

        &--member-list{
          color:          $sub_font-color;
          font-size:      12px;
          display:        block;
          padding-right:  10px;
        }
      }

      &__group--edit{
        text-align:       right;
        display:          block;

        &-btn{
          line-height:      40px;
          color:            $send_btn-color;
          border: solid     $send_btn-color 0.2px;
          margin-top:       28px;
          padding:          0 20px;
          display:          inline-block;
          text-decoration:  none;

        }
      }
    }

    .messages{
      height:         calc(100vh - 257px);
      background:     #f5f5f5;
      overflow:       scroll;
      padding:        46px 40px 20px 40px;

      .message__box{


        &--user-name{
          font-size:      16px;
          padding-bottom: 10px;
          font-weight:    bold;
          color:          $main_font-color;

          &-date{
            font-size:      12px;
            margin-left:    10px;
            color:          $sub_font-color;
          }
        }

        &--message{
          font-size:        14px;
          padding-bottom:   40px;
        }
      }
    }

    .form{
      height:         50px;
      padding:        20px 40px;

      &__box{
        position:     relative;
        display: flex;
        justify-content:  space-between;


        &--input{
          background:     white;
          width:          100%;
          height: 50px;
          line-height:    50px;
          padding-left:   10px;
          padding-right:  50px;
        }

        label{
          font-size:      1.3rem;
          position:       absolute;
          top:            20px;
          right:          130px;
          cursor:         pointer;

          #message_image{
            display:        none;
          }
        }

        &--submit-btn{
          background:       white;
          height:           50px;
          width:            100px;
          background:       $send_btn-color;
          color:            white;
          cursor:           pointer;
          border:           none;
          margin-left:      15px;
          padding: 0px 30px;
        }
      }
    }
  }
}
