
$user_box-color:    #253141;
$side-color:        #2f3e51;
$side_font-color:   #FFFFFF;

$main_back-color:   #dcdcdc;
$title_font-color:  #333333;
$main_font-color:   #434A5A;
$sub_font-color:    #999999;

$send_btn-color:    #38AEF0;

$border-color:      #eeeeee;
